.inicio{
    background-color: #971910;
    font-size: calc(10px + 4vmin);
  }

  .center_img{
    width: 400px;

  }

  .menu{
    background-color: rgb(11, 214, 153);
  }

  #divum{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
  }

  p{
    padding: 0px;
    min-width: 180px;    
  }
  
